<!DOCTYPE html>
<html>
  <head>
	<title>littlebobert</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%= javascript_importmap_tags %>
  </head>

  <body>
	  <div><%= @answer %></div>
	  <div><%= link_to "Home", root_path %> | <%= link_to "Donate", "https://buymeacoffee.com/notetube" %></div>
	  <div></div>
  </body>
</html>
