<!DOCTYPE html>
<html>
  <head>
	<title>littlebobert</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%= javascript_importmap_tags %>
  </head>

  <body>
	  <div>
		  <div>Use the best OpenAI model (o3-mini) for free:</div>
		  <div>
			  <%= form_with url: "/answer", method: :get do |form| %>
			  	<%= form.text_field :q, autofocus: true, placeholder: "Ask a question" %>
				<%= form.submit value: "Go" %>
			  <% end %>
		  </div>
	  </div>
  </body>
</html>
