<!DOCTYPE html>
<html>
  <head>
    <title>bih.gg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="littlebobert">
    <meta property="og:description" content="Access the latest AI models for free.">
    <meta property="og:type" content="website">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
